.nav {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  width: max-content;
  li {
    padding-inline-start: 1rem;
    margin: 0 0.25rem;
    white-space: nowrap;
    &:last-child {
      margin-inline-start: 0rem;
    }
  }
}

.signUp {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 35px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  padding: 0.5rem 1rem !important;
}

@media screen and (max-width: 750px) {
  .nav li:not(:last-child) {
    display: none;
  }
}

.userInfo {
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  height: 40px;
  img {
    border-radius: 50%;
  }
  .userName {
    font-size: 16px;
    font-weight: 500;
    margin-inline-start: 1rem;
    text-transform: capitalize;
  }
}
