.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  min-height: calc(100vh - 17rem);
  width: 100%;
  * {
    color: var(--base-90);
  }
  h1 {
    margin: 1rem 0 2rem 0;
    padding-bottom: 0.5rem;
    width: fit-content;
    color: var(--base);
    &::before {
      width: 85% !important;
      height: 3px;
      border-bottom: 4px solid var(--primary-color) !important;
    }
  }
  h2 {
    padding: 0.5rem 0;
  }

  p {
    padding: 0.25rem 0;
  }
}

.aboutUs {
  p {
    font-size: 1.2rem;
    max-width: 800px;
  }
}
