.title {
  padding: 1rem 0 0.5rem 0;
}

.textImageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  p {
    padding: 1rem 0;
    color: var(--base-70);
    font-size: 14px;
  }
}
.form {
  width: 100%;
  .formControl {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 0.85rem;
    padding: 0.5rem 0;
    font-size: 14px;
  }

  input {
    height: 2rem;
    width: 100%;
    min-width: 50%;
    max-width: 70%;
    border-radius: 4px;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .btnContainer {
    display: flex;
    button {
      height: 2rem;
      border-radius: 4px;
      margin: 0.5rem auto;
      padding: 0 1rem;
      width: 100%;
      max-width: 20rem;
      &:first-child {
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color: var(--white);
        margin-inline-end: 0.5rem;
        &:hover {
          background-color: var(--primary-color-900) !important;
          border: 1px solid var(--primary-color-900);
        }
      }

      &:last-child {
        border: 1px solid var(--white);
        color: var(--primary-color);
        font-weight: bold;
        margin-inline-start: 0.5rem;
        &::before {
          content: '';
          background: url('/assets/auth/back.svg') center center no-repeat;
          filter: invert(40%) sepia(100%) saturate(1983%) hue-rotate(196deg)
            brightness(92%) contrast(91%);
          padding: 1rem;
          margin-inline-end: 0.5rem;
        }
        &:hover {
          background-color: var(--primary-color-900);
          border: 1px solid var(--primary-color-100);
          color: var(--white);
          &::before {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
              brightness(102%) contrast(102%);
          }
        }
      }
    }
  }
}
