.userInfoContainer {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
  width: 100%;
  max-width: 350px;

  img {
    object-fit: cover;
    border-radius: 50%;
    min-width: 200px !important;
    min-height: 200px !important;
    width: unset !important;
    justify-content: flex-start;
    margin: 3rem 0 1rem 0 !important;
  }
  .userName {
    color: var(--primary-color);
    text-transform: capitalize;
    padding: 1rem 0;
  }
  .editBtn {
    width: 100%;
    border: 1px solid var(--base-20);
    background-color: var(--base-10);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
  }

  .userEmail,
  .joinedAt,
  .location,
  .job {
    padding: 0.5rem 0;
    &:before {
      content: '';
      padding: 0.65rem;
      width: 10px;
      height: 10px;
      margin-inline-end: 0.75rem;
      background-size: contain !important;
    }
  }

  .userEmail:before {
    background: url('/assets/account/email.svg') no-repeat center center;
  }
  .joinedAt:before {
    background: url('/assets/account/cake.svg') no-repeat center center;
  }
  .location:before {
    background: url('/assets/account/location-pin.svg') no-repeat center center;
  }
  .job:before {
    background: url('/assets/account/card.svg') no-repeat center center;
  }
}

@media screen and(max-width: 950px) {
  .userInfoContainer {
    max-width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
    img {
      min-width: 200px !important;
      min-height: 200px !important;
      margin: 0 auto 1rem auto !important;
    }
  }
}
