:root {
  --max-width: 1280px;

  --primary-color: #0287ab;
  --primary-color-900: #0287abe6;
  --primary-color-800: #0287abcc;
  --primary-color-700: #0287abb3;
  --primary-color-600: #0287ab99;
  --primary-color-500: #0287ab80;
  --primary-color-400: #0287ab66;
  --primary-color-300: #0287ab4d;
  --primary-color-200: #0287ab33;
  --primary-color-100: #0287ab1a;

  --secondary-color: #ff595a;
  --font-primary-color: rgb(50, 50, 50);
  --font-secondary-color: rgb(71, 71, 71);

  --base: #090909;
  --base-90: #242424;
  --base-80: #3d3d3d;
  --base-70: #575757;
  --base-60: #717171;
  --base-50: #8a8a8a;
  --base-40: #a3a3a3;
  --base-30: #bdbdbd;
  --base-20: #d6d6d7;
  --base-10: #efefef;
  --base-0: #f9f9f9;

  --white: #fff;
}
