:root {
  --max-width: 1280px;

  --primary-color: #205375;
  --primary-color-900: #205375e6;
  --primary-color-800: #205375cc;
  --primary-color-700: #205375b3;
  --primary-color-600: #20537599;
  --primary-color-500: #20537580;
  --primary-color-400: #20537566;
  --primary-color-300: #2053754d;
  --primary-color-200: #20537533;
  --primary-color-100: #2053751a;

  --secondary-color: #ff595a;
  --font-primary-color: rgb(50, 50, 50);
  --font-secondary-color: rgb(71, 71, 71);

  --base: #090909;
  --base-90: #242424;
  --base-80: #3d3d3d;
  --base-70: #575757;
  --base-60: #717171;
  --base-50: #8a8a8a;
  --base-40: #a3a3a3;
  --base-30: #bdbdbd;
  --base-20: #d6d6d7;
  --base-10: #efefef;
  --base-0: #f9f9f9;

  --white: #fff;
}
