.footer {
  max-width: var(--max-width);
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
  margin: 0 auto;
  padding: 2rem 2rem 1rem 2rem;
  * {
    color: var(--base-90);
  }
  div {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
  .borderTop {
    border-top: 2px solid var(--base-40);
    padding-bottom: 2rem;
  }
}

.footer ul {
  display: flex;
  align-items: center;
  li {
    padding-inline-start: 1rem;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
  div {
    font-weight: 500;
  }
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    max-width: 4rem;
    margin-inline-end: 0.65rem;
  }
  div {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
  }
}

@media screen and(max-width: 700px) {
  .footer {
    margin-top: 2rem;
    margin: 0 auto;
    padding: 1rem 1rem 0.5rem 1rem;
    * {
      font-size: 14px;
    }
    div {
      padding: 0.5rem 0;
    }
    .borderTop {
      padding-bottom: 0.5rem;
    }
  }
  .logo {
    max-width: 4.5rem;
  }
}
