.main {
  max-width: 980px;
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2.7fr;
  grid-gap: 1.5rem;
}

@media screen and (max-width: 750px) {
  .main {
    max-width: 980px;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }
}
