.popularTags {
  display: flex;
  flex-direction: column;
  width: 15rem;
  max-width: 15rem;
  min-width: 12.5rem;
  padding: 1rem;
  padding-right: 0;
  margin-bottom: 1rem;
}

.popularTags h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--base-90);
  padding: 0.5rem 1rem;
}

.popularTags ul li {
  padding: 0.5rem 1rem;
  color: var(--grey-100);
  border-radius: 4px;
}

.popularTags li:hover {
  background-color: rgba(59, 73, 223, 0.1);
  text-decoration: underline;
  cursor: pointer;
}

.loader {
  padding: 0.5rem 1rem;
}

@media screen and(max-width:750px) {
  .popularTags {
    display: none;
  }
}
