.modal {
  max-width: 400px;
  height: max-content;
  border-radius: 8px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0;
  label {
    padding: 0.25rem 0;
    color: var(--base);
  }
  input {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid var(--base-20);
    outline: none;
    padding: 0 0.5rem;
    color: var(--base);
  }
}

.login {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  height: 34px;
  margin: 2rem 0 1rem 0;
}

.forgetPassword {
  display: flex;
  justify-content: flex-start;
  background-color: var(--white);
  color: var(--base);
}

.signUpContainer {
  span {
    color: var(--base);
    font-size: 14px;
  }
  button {
    background-color: var(--white);
    color: var(--primary-color);
    font-weight: 900;
  }
}
.marginEnd {
  margin-inline-end: 1rem;
}

.nameInput {
  width: calc(50% - 8px);
}

.facebook,
.google,
.github {
  background-color: #4267b2;
  height: 34px;
  border-radius: 4px;
  outline: none;
  padding: 0 0.5rem;
  margin-top: 1rem;
  width: 100%;
  &::before {
    content: '';
    width: 2rem;
    height: 2rem;
    padding-inline-start: 2rem;
  }
}

.facebook {
  background-color: #4267b2;
  color: white;
  &::before {
    background: url('../../../../public/assets/auth/facebook.svg') center center
      no-repeat;
  }
}

.google {
  background-color: white;
  border: 1px solid var(--base-20);
  &::before {
    background: url('../../../../public/assets/auth/google.svg') center center
      no-repeat;
  }
}

.github {
  background-color: #24292f;
  color: white;
  &::before {
    background: url('../../../../public/assets/auth/github.svg') center center
      no-repeat;
  }
}

.namesContainer {
  display: flex;
  flex-direction: row;

  input {
    flex: 1;
  }
  > div:first-child {
    margin-inline-end: 0.5rem;
  }
  > div:last-child {
    margin-inline-start: 0.5rem;
  }
}
.btnDisabled {
  cursor: not-allowed;
}

.passwordValidationsContainer {
  display: flex;
  flex-wrap: wrap;
  * {
    font-size: 12px;
  }
  img {
    width: 14px !important;
    height: 14px !important;
    transform: translateY(2px);
  }
  > div {
    margin-inline-end: 1rem;
  }
}
