.header {
  h1 {
    padding: 1rem 0;
  }
}
.form {
  width: 100%;
}
.btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white);
  font-weight: bold;
  border-radius: 4px;
  width: 100%;
  height: 2rem;
  margin-top: 2rem;
  &:hover {
    background-color: var(--primary-color-900) !important;
    border: 1px solid var(--primary-color-900);
  }
}
