.notificationContainer {
  font-size: 14px;
  position: fixed;
  z-index: 999999;
}

.notification {
  background: #fff;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5rem;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px #999;
  opacity: 0.95;
  background-position: 15px;
  background-repeat: no-repeat;
  &:hover {
    box-shadow: 0 0 12px #fff;
    opacity: 1;
    cursor: pointer;
  }
}

.title {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: var(--base-80);
}

.message {
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--base-80);
}

.image {
  margin-right: 15px;
  img {
    width: 30px;
    height: 30px;
    filter: invert(21%) sepia(3%) saturate(24%) hue-rotate(64deg)
      brightness(100%) contrast(92%);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  color: var(--base-80);
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.toast {
  width: 400px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.topRight {
  top: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}
