.authorContainer {
  max-width: 300px;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  align-self: start;
  position: sticky;
  top: 120px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
  }
  h3 {
    text-transform: capitalize;
    margin-top: 1rem;
  }
  div {
    padding-top: 0.5rem;
  }
  p {
    margin-top: 1rem;
    font-size: 14px;
  }
}
@media screen and (max-width: 950px) {
  .authorContainer {
    padding: 0 0 0 1rem;
  }
}
