.mainWrapper {
  max-width: var(--max-width);
  width: 100%;
  min-height: calc(100vh - 350px);
  height: 100%;
  padding: 2rem;
  background-color: 'blue' !important;
  margin: auto;
}
.post {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .post {
    flex-direction: column !important;
    padding: 1rem;
  }
}
