.interactionsWrapper {
  display: flex;
  margin-inline-end: 1.5rem;
  padding-inline-end: 0.5rem;
  border-right: 2px solid var(--base-50);
  align-items: baseline;
  > div > button {
    margin-inline-end: 0.5rem;
    background-color: transparent;
    img {
      filter: invert(23%) sepia(9%) saturate(0%) hue-rotate(257deg)
        brightness(100%) contrast(97%);
      &:hover {
        filter: none;
        fill: black;
      }
    }
  }
}

.interactionsLoaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .interactionsWrapper {
    display: none !important;
  }
}
