.main {
  max-width: 800px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--base-20);
  padding-bottom: 5rem;
}

.mainLoader {
  max-width: 770px;
  width: 100%;
  // max-width: fit-content;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--base-20);
  padding-bottom: 5rem;
}
