.content {
  padding: 0 2rem 2rem 2rem;
  h1 {
    padding: 1rem 0;
    border-bottom: 1px solid var(--base-20);
    margin-bottom: 1rem;
  }
  h2 {
    padding: 0.75rem 0;
    font-size: 22px;
  }
  h3 {
    padding: 0.5rem 0;
  }

  ul {
    padding: 0.5rem 0;
    list-style: disc;
    margin-inline-start: 1rem;
    line-height: 1.5rem;
  }
  ol {
    padding: 0.5rem 0;
    margin-inline-start: 1rem;
    line-height: 1.5rem;
  }
  p {
    padding: 0.25rem 0;
    line-height: 1.5rem;
    font-size: 1rem;
  }

  hr {
    border: 0.5px solid var(--base-20);
    margin: 0.5rem 0;
  }

  img {
    border-radius: 8px;
    max-width: 100%;
    margin: 1rem 0 1rem 0;
  }
}

.code {
  position: relative !important;
}
.content code {
  padding-top: 5rem;
  margin-top: 5rem;
}

.copyImage {
  top: 10px !important;
  left: 10px !important;
  background-color: red;
  z-index: 5 !important;
  img {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    background-color: red;
    z-index: 5 !important;
  }
}

@media screen and(max-width: 768px) {
  .content {
    padding: 0 1rem 1rem 1rem;
  }
}
