.socialMediaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: baseline;
  button {
    margin-inline-end: 0.85rem;
    filter: invert(58%) sepia(2%) saturate(0%) hue-rotate(135deg)
      brightness(94%) contrast(88%);

    &:hover {
      filter: none;
    }
  }
}
